* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #090909;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/* HEADER */
header {
    background: #009739;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover,
nav a.active {
    text-decoration: underline;
}

/* TÍTULO */
.titulo {
    text-align: center;
    padding: 50px 20px;
}

.titulo h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: #009739;
}

.titulo p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* CONTEÚDO */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.container h2 {
    font-size: 2rem;
    color: #009739;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* GRID DE JOGOS */
.jogos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.jogo-card {
    background: rgb(0, 0, 0);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 8px #009739;
    transition: 0.3s;
}

.jogo-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.jogo-card .info {
    padding: 15px;
}

.jogo-card h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
}

.jogo-card p {
    color: #444;
    margin-top: 5px;
}

.jogo-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
    background: #009739;

    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
