* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #090909;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

/* HEADER */
header {
    background: #009739;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 60vh;
    background: url('../assets/imagens/time.jpeg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    text-shadow: 0 2px 8px rgba(0,0,0,0.7);
    margin: 20vh;
}

.hero h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.hero p {
    font-size: 1.3rem;
    margin-top: 10px;
}

/* SEÇÕES */
.contents {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

.contents h2 {
    font-size: 2.5rem;
    color: #009739;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background: rgb(0, 0, 0);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 8px #009739;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.card p {
    padding: 0 15px 15px;
    color: #444;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
    background: #009739;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}
